.App {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}

.App nav {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover {
    color: blue;
}